<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top mt-4">
    <div class="container">
      <p class="lead mb-1">Welcome: <strong> <%= name %></strong></p>
      <a href="/users/logout" class="btn btn-secondary">Logout</a>
    </div>
  </nav>
  <% include ./partials/messages %>
  <form action='/users/message' method="POST">
  <div class="container">
    <h1 class="mt-4">Please leave your secret</h1>
    <textarea
      class="form-control form-control-lg"
      rows="3"
      name="textSecret"
      placeholder="Write your secret here"
    ></textarea>
    <button type="submit" class="btn btn-light mt-1">
      Send
    </button>
  </form>
  
  </div>
  